<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{basic}">

<th:block layout:fragment="content_styles">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</th:block>

<th:block layout:fragment="content_home">
    <div class="container">
        <div class="row  mt-5">
            <div class="col-md-4 offset-4">
                <h4 class="text-success">This is Finance Page</h4>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">

</th:block>
</html>