<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
  <link href="/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- page css -->
  <link href="/assets/css/pages/login-register-lock.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- You can change the theme colors from here -->
  <link href="/assets/css/colors/default.css" id="theme" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<section id="wrapper">
  <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
    <div class="login-box card">
      <div class="card-header">
        <!--/*@thymesVar id="wrong" type="wrong"*/-->
        <div class="alert alert-danger" th:if="${wrong}">
          <p>Username or password wrong!</p>
        </div>
        <div class="card-body">
          <form  th:action="@{/login}" method="post" class="form-horizontal form-material" id="loginform">
            <h3 class="box-title m-b-20">Sign In</h3>
            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" name="username" type="text" required="" placeholder="Phone number"> </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="password" name="password" required="" placeholder="Password"> </div>
            </div>

            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="/assets/node_modules/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<!--Custom JavaScript -->
<script type="text/javascript">
  $(function() {
    $(".preloader").fadeOut();
  });
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  });
  // ==============================================================
  // Login and Recover Password
  // ==============================================================
  $('#to-recover').on("click", function() {
    $("#loginform").slideUp();
    $("#recoverform").fadeIn();
  });
</script>
</body>
</html>
