<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basic}">

<th:block layout:fragment="content_styles">
    <link rel="stylesheet" href="/assets/node_modules/html5-editor/bootstrap-wysihtml5.css" />

</th:block>

<th:block layout:fragment="content_home">

    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Product Create</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Product Create</li>
            </ol>
        </div>
        <!-- <div class="col-md-7 align-self-center text-right d-none d-md-block">
             <button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Create New</button>
         </div>-->
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category create</h4>
                    <!--                    <h6 class="card-subtitle">Bootstrap Form Validation check the <a href="http://reactiveraven.github.io/jqBootstrapValidation/">official website </a></h6>-->
                    <!--/*@thymesVar id="reqCategory" type="reqCategory"*/-->
<!--                    th:object="${reqProduct}"-->
                    <form th:action="@{/product/save}"  method="post" class="m-t-40" enctype="multipart/form-data" novalidate>
                        <div class="form-group">
                            <label class="control-label">Select Chat Id <span class="text-danger">*</span></label>
                            <select class="form-control custom-select" name="chatId">
                                <!--/*@thymesVar id="categories" type="categories"*/-->
                                /*@thymesVar id="channel.chatId" type="String"*/
                                <option th:each="channel : ${channels}" th:value="${channel.chatId}" th:text="${channel.name}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Select Video <span class="text-danger">*</span></label>
                            <select class="form-control custom-select" name="fileId">
                                <!--/*@thymesVar id="categories" type="categories"*/-->
                                <option th:each="file : ${files}" th:value="${file.fileId}" th:text="${file.caption}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Parent Category Id <span class="text-danger">*</span></label>
                            <select class="form-control custom-select" name="categoryId">
                                <!--/*@thymesVar id="categories" type="categories"*/-->
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="textarea_editor form-control" name="description" rows="15" placeholder="Enter text ..."></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Product File <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="file" id="file"
                                       class="form-control"
                                       name="file"
                                       enctype="multipart/form-data"
                                />
                            </div>
                            <!--                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>-->
                        </div>
                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info float-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <script src="/assets/js/validation.js"></script>

    <script>
        ! function(window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

        }(window, document, jQuery);


    </script>

    <script src="/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>
    <script>
        $(function() {

            $('.textarea_editor').wysihtml5({
                link:true,
                image:false,
                "font-styles":false,
                emphasis:true,
                lists:false,
                parserRules: {
                    tags: {
                        "b":  {},
                        "i":  {},
                        "s":  {},
                        "u":  {},
                        "br": {},
                        "a":  {

                        },
                    }
                }
            });


        });
    </script>

</th:block>
</html>